/Code
/out
/.idea
/exportedMap.txt
/README.md
/revxt-ss22-g05.iml
/src/.idea
/src/out
/projektbericht/*.gz
/projektbericht/*.pdf
/projektbericht/*.out
/projektbericht/*.log
/projektbericht/*.aux
/projektbericht/*.toc
/src/*.iml
/projektbericht/Projektbericht.synctex.gz
/projektbericht/Projektbericht.pdf
/projektbericht/*.bat
/exportedmap.map
/bin/*.jar
/serverAndAi
/skripts/serverOut.txt
/build
/skripts/*.txt
/skripts/*.csv
