/Code
/out
/.idea
/exportedMap.txt
/README.md
/revxt-ss22-g05.iml
/src/.idea
/src/out
/projektbericht/*.gz
/projektbericht/*.pdf
/projektbericht/*.out
/projektbericht/*.log
/projektbericht/*.aux
/projektbericht/*.toc
/src/*.iml
/projektbericht/Projektbericht.synctex.gz
/projektbericht/Projektbericht.pdf
/projektbericht/*.bat
/exportedmap.map
/bin/*.jar
/serverAndAi
/skripts/serverOut.txt
/build
/skripts/*.txt
/skripts/*.csv
/ErrorCounts.txt
/Maps/2020_comp_7_8p.map
/Maps/202205-25_25_2_25_rnd_1.map
/Maps/202205-50_50_8_25_rnd_1.map
/Maps/202205-group1_Map1.map
/Maps/202205-group1_Map2.map
/Maps/202205-group1_MapCrazy.map
/Maps/202205-group2_fastgame.map
/Maps/202205-group2_map1.map
/Maps/202205-group2_max.map
/Maps/202205-group2_weird.map
/Maps/202205-group3_map1.map
/Maps/202205-group3_map3.map
/Maps/202205-group4_gym_leader.map
/Maps/202205-group4_map1.map
/Maps/202205-group4_square.map
/Maps/202205-group5_a4_chess.map
/Maps/202205-group5_a4_greek_knot.map
/Maps/202205-group6_cylinder.map
/Maps/202205-group6_four.map
/Maps/202205-group6_six.map
/Maps/202205-group7_kleinbottle.map
/Maps/202205-group7_sechs.map
/Maps/202205-group7_tournament.map
/Maps/202205-group8_LennysPlayingField.map
/Maps/202205-group8_Shenyao_s-playingfield.map
/Maps/202205-group8_SvensPlayingField.map
/Maps/20210622-RWTH-50_50_8_25_rnd_1.map
/Maps/arrowTest.map
/Maps/boeseMap01.map
/Maps/boeseMap02.map
/Maps/boeseMap03.map
/Maps/boeseMap04.map
/Maps/boeseMap05.map
/Maps/boeseMap06.map
/Maps/boeseMap07.map
/Maps/boeseMap08.map
/Maps/boeseMap09.map
/Maps/boeseMap10.map
/Maps/boeseMap11.map
/Maps/comp2021_02_4p.map
/Maps/Map12_overwriteTest.map
/Maps/rwth-2020_comp_07_2p.map
/Maps/rwth-2022_comp_5_2p.map
